#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:local(.kanbanWrapper) {
  display: flex;
  justify-content: center;
}

:local(.kanbanColumn) {
  text-align: center;
}

:local(.kanbanColumn):not(:first-of-type) {
  margin-left: 20px;
}

:local(.kanbanList) {
  padding: 20px;
  min-width: 356px;
  min-height: 210px;
  background-color: #0f111a;
  border-radius: 20px;
  border: #4d5151 2px solid;
}

:local(.kanbanList) li:not(:first-of-type) {
  margin-top: 20px;
}

:local(.columnTitle) {
  font-size: 20px;
  text-align: center;
}

:local(.listItem) {
  width: 312px;
  min-height: 116px;
}

:local(.skeletonImg) {
  width: 40px;
  height: 40px;
  border-radius: 9px;
}

:local(.skeletonTitle) {
  margin-bottom: 2px;
  width: 150px;
  height: 20px;
  border-radius: 5px;
}

:local(.skeletonSubtitle) {
  width: 200px;
  height: 20px;
  border-radius: 5px;
}

:local(.skeletonText) {
  width: 100px;
  height: 24px;
  border-radius: 5px;
}

:local(.skeletonText):first-child {
  margin-bottom: 2px;
}

:local(.skeletonFooter) {
  height: 24px;
  border-radius: 5px;
}

:local(.btn.columnBtn) {
  margin-top: 20px;
  font-weight: bold;
}
